# Environment variables, API keys, secrets, etc.
.env

# Build management
**/node_modules

# Supabase
**/.temp/
**/_shared/

# Local development scripts
run_api.sh

# Python virtual environment
**/venv/
**/__pycache__/
*.pyc
